/* table */
.my-table {
    border-collapse: collapse;
    margin:30px;
  }
  
  .my-table th,
  .my-table td {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
  }
  
  .my-table th {
    background-color: #f2f2f2;
  }